.login-container {
    max-width: 400px;
    margin: 100px auto; /* Adjust the margin value to center the login box vertically */
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-button {
    width: 100%;
    margin-top: 20px;
  }
  
  .login-error {
    margin-top: 20px;
  }
  